<ion-content [fullscreen]="true">
  <ion-grid class="circle circle1"></ion-grid>

  <ion-grid class="container">
    <ion-icon name="person" color="primary-contrast"></ion-icon>
    <ion-item lines="none" class="ion-text-center ion-margin itemDesign" color="light">
      <ion-input  [(ngModel)]="cpf" placeholder="Informe seu CPF" type="text" clearInput="true" maxlength="11" id="cpf" name="cpf"></ion-input>
    </ion-item>    
    <ion-item lines="none" class="ion-text-center ion-margin itemDesign" color="light">
      <ion-input  [(ngModel)]="senha" placeholder="Informe sua senha" type="password" clearInput="true" id="password" name="password"></ion-input>
    </ion-item>
    <ion-item color="light" class="ion-text-center ion-margin itemDesign">
        <ion-select [(ngModel)]="userType" ion-select aria-label="Fruit" interface="popover" placeholder="Selecione seu perfil">
          <ion-select-option value="professor">Professor</ion-select-option>
          <ion-select-option value="tecnico">Técnico</ion-select-option>
          <ion-select-option value="aluno">Aluno</ion-select-option>
        </ion-select>
    </ion-item>
  </ion-grid>

  <ion-grid class="circle circle2"></ion-grid>